[Unit]
Description=This monitors RackAttack's hosts status and updates the DB (elasticsearch) with it
After=syslog.target network.target
BindsTo=elasticsearch.service
After=elasticsearch.service

[Service]
Type=simple
Environment=PYTHONPATH=<PYTHONPATH> RAP_URI=<RAP_URI> RACKATTACK_PROVIDER=tcp://<RAP_URI>:1014@@amqp://guest:guest@<RAP_URI>:1013/%2F@@http://<RAP_URI>:1016
ExecStart=/usr/bin/python -m rackattack.stats.main_hosts_stats

[Install]
WantedBy=multi-user.target
